@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 1.6; }

header .navbar-nav .nav-item .nav-link, .btn-custom, .books-section .book {
  transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease; }

header .navbar-nav .nav-item .nav-link, .btn-custom {
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 5px 20px; }

header {
  background-color: #F0FFF0; }
  header .navbar-brand img {
    width: 200px; }
  header .navbar-nav .nav-item {
    padding-left: 15px; }
    header .navbar-nav .nav-item .nav-link {
      color: #000000; }
      header .navbar-nav .nav-item .nav-link:hover {
        background-color: #21B573;
        color: white; }
    header .navbar-nav .nav-item:last-child .nav-link {
      background-color: #21B573;
      color: white; }
  header h5 {
    color: red;
    font-size: 16px; }
  header h1 {
    color: #000000;
    font-weight: 600;
    font-size: 65px; }
  header span {
    color: #21B573; }
  header p {
    color: #000000ba;
    font-size: 18px;
    line-height: 1.7; }

.btn-custom {
  color: white;
  background-color: #21B573;
  border: 2px solid #21B573; }
  .btn-custom:hover {
    background-color: transparent;
    color: #21B573; }

.books-section {
  padding: 30px 0; }
  .books-section .book {
    background-color: #F0FFF0;
    text-align: center;
    padding: 20px;
    border-radius: 10px; }
    .books-section .book:hover {
      background-color: white;
      box-shadow: 0 20px 40px #00000024; }
    .books-section .book img {
      height: 50px; }
    .books-section .book h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 15px;
      margin-bottom: 0; }
    .books-section .book p {
      color: #000000ba;
      font-size: 15px;
      line-height: 1.7; }

.heading h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 40px 0; }

.course-section .course {
  padding: 10px;
  border: 0;
  padding: 10px;
  border: 0;
  box-shadow: 0 20px 35px #00000017; }
  .course-section .course .card-body .card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0; }
  .course-section .course .card-body .card-text {
    color: #000000ba;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 10px; }
  .course-section .course .card-body .nav {
    margin: 10px 0;
    align-items: center; }
    .course-section .course .card-body .nav li img {
      width: 20px; }
    .course-section .course .card-body .nav li span {
      font-size: 14px;
      font-weight: 500; }

.testimonial-section {
  padding: 30px 0; }
  .testimonial-section p {
    color: #000000ba;
    font-size: 15px;
    line-height: 1.8; }

footer {
  background-color: #282531;
  color: white;
  padding: 50px 0 0; }
  footer .copyright {
    text-align: center;
    padding-top: 50px; }
    footer .copyright p {
      font-size: 15px;
      margin-bottom: 0;
      color: white; }
    footer .copyright a {
      text-decoration: none;
      color: #21B573;
      font-weight: bold;
      font-size: 15px; }
  footer h6 {
    font-weight: 600; }
  footer ul li a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 15px; }
    footer ul li a:hover {
      color: white;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
